<div class="container">
  <div class="row">
    <h3>Track name: </h3>
    <p><%= @track[0].name %></p>

    <h3>Artist name: </h3>
    <p><%= @track[0].artists[0].name %></p>

    <h3>Album name: </h3>
    <p><%= @track[0].album.name %></p>

    <h3>Album release date: </h3>
    <p><%= @track[0].album.release_date %></p>

  </div>
</div>