<div id="home-playing" class="col-sm-12 col-md-6">
  <%= render partial: 'tracks/currently_playing' %>
</div>
<div id="panel" class="col-sm-12 col-md-6">
  <div id="search-results"></div>
  <div id="recommended">
    <%= render partial: 'tracks/recommended' %>
  </div>
</div>
