<h1>Results</h1>

  <table class="table">
    <th>Track name</th><th>Artist</th><th>Actions</th>
      <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
      <td><%= track.artists.map(&:name).join(', ') %></td>
      <td><%= link_to "add",tracks_path(uid: track.id, vote: 1, uri: track.uri),class:"btn btn-default", method: :post %></td>
      </tr>
    <% end %>
  </table>
  <button id="next-results"><%= link_to "Next page",search_path(), data: {offset: @offset} ,class:"btn btn-default", method: :get %></button>


