@import "bootstrap-sprockets";
@import "bootstrap";
@import "theme";

.navbar-brand {
  
  width: 122px;
  height: 66px;
  background-image: url('logo.png');
  background-size:cover;
  margin:2px;
  margin-top:7px;

}

.navbar-brand:hover {
  
  background-image: url('LogoAnimation.gif')

}

.navbar-nav li a {
  
  background: transparent;
  padding-top: 30px;
  padding-bottom: 30px;

}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.active a {

  background-color: transparent;

}

.sidebar {
  
  background-image: url('mjback.jpg');
  position:relative;

}

.sidebar:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(34,97,122,.9);
  mix-blend-mode: multiply;

}



.info-sidebar {
  
  color: white;
  z-index: 10;

}