/*General*/

body {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

table tr .btn {
  background-color: #ffffff;
  font-size: 10px;
}

table tr img {
  width: 15px;
}

table th {
  color: white;
  background-color: #fbaf3a;
}

label {
  position: relative;
  width: 100%;
  font-weight: normal;
}

input {
  padding: 10px 30px;
}

.btn-default,
.btn-default.active {
  background: none;
  border: none;
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-color {
  background: #fbaf3a;
  color: #ffffff;
  border: none;
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 5px;
}
/*Header*/

.profile {
  height: 60px;
}

.profile img {
  height: 40px;
}
.navbar-brand img {
  height: 70px;
}

.dropdown-toggle {
  padding: 0 !important;
}

.navbar-brand {
  height: 100%;
}

.nav,
.navbar,
.navbar-inverse,
.navbar-brand {
  background: red;
  background: -webkit-linear-gradient(#ff931e, #fbaf3a);
  background: -o-linear-gradient(#ff931e, #fbaf3a);
  background: -moz-linear-gradient(#ff931e, #fbaf3a);
  background: linear-gradient(#ff931e, #fbaf3a);
  color: #ffffff !important;
  border-color: transparent;
}

#logo {
  transition: all 0.2s ease-in-out;
}

#logo:hover {
  background-image: image-url("LogoAnimation.gif");
  transform: scale(1.1);
}

.navbar-right {
  padding-top: 7px;
}
.navbar-brand {
  width: 122px;
  height: 66px;
  background-image: image-url("logo.png");
  background-size: cover;
  margin: 2px;
  margin-top: 7px;
}

.navbar-brand:hover {
  background-image: image-url("LogoAnimation.gif");
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #555;
}
#search-form {
  width: 300px;
}

.navbar-form {
  padding-top: 12px;
}

.form-group,
.search-container,
#search {
  width: 100%;
}

#searchsubmit {
  height: 25px;
}

#searchsub {
  position: absolute;
  right: 0px;
  top: 5px;
  background: transparent;
  padding: 0;
  border-style: none;
}

.profile-links {
  padding-top: 10px;
}

/* Footer */

.footer {
  text-align: center;
  height: 100px;
  padding: 0px 0;
  background-color: #fbaf3a;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer-links {
  list-style: none;
  width: 100%;
}

#footer-links li {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}

a {
  color: #333333;
}

a:hover {
  color: #666666;
  text-decoration: none;
}

/*Welcome-Player*/

#currently-playing {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.currently-playing-vote {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: -50px;
}

.currently-playing-vote a {
  text-align: center;
  a:hover {
    color: #666666;
    text-decoration: none;
  }
}

.currently-playing-vote a:hover {
  background-color: transparent !important;
}
.currently-playing-vote img {
  width: 30px;
}

#currently-playing img {
  border-radius: 50px;
}

.album-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  margin-bottom: 10px;
}

.prev-next-album {
  width: 50%;
  position: absolute;
  top: 40px;
  z-index: -10000;
}
.prev-album {
  left: 5px;
}

.next-album {
  right: 5px;
}

#player {
  padding-top: 0px;
}

#home-playing {
  border-right: 3px solid black;
}

.recommended {
  height: 250px;
  text-align: center;
}
#player-controls {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  padding: 5px 50px;
  text-align: center;
}

#player-controls img {
  max-width: 30px;
}

#volume img {
  width: 30%;
}

.vote-btn {
  padding: 10px;
  width: 40%;
}

/*Tracks page*/

#tracks-table tr {
  font-size: 12px;
}

#tracks-table td {
  max-width: 250px;
  overflow-wrap: normal;
}

.track-info {
  font-size: 10px;
}

#track-info h4 {
  border: 1px solid #fbaf3a;
  text-align: center;
}

/* Edit profile form */

.edit-form-container {
  background-color: #fafafa;
  padding: 20px;
}

.edit-form-container .field {
  padding: 15px 0;
  font-size: 20px;
}

.edit-form-container .field input {
  width: 90%;
  padding: 10px;
}

.edit-form-container .col-md-6 {
  padding: 0 !important;
}

.edit-form-container .actions {
  text-align: right;
  padding-right: 10%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.sidebar:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(34, 97, 122, 0.9);
  mix-blend-mode: multiply;
}
