
<div class="">

    <h1>Most Popular Artists</h1>
    <table class="table">
      <th>Artist</th><th>Popularity</th>
        <% @top_artists.each do |artist| %>
          <tr>
            <td><%= artist.name %></td>
            <td><%= artist.popularity %></td>
          </tr>
        <% end %>
    </table>
  </div>

    
   