<form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <label>
            <input type="text" class="form-control" id="search" placeholder="Type Title/Artist/Album">
          </label>
        </div>
      </div>
    </form>

