<form class="navbar-form navbar-left" id="search-form">
  <div class="form-group">
    <div class="search-container">
      <label>
        <input type="text" class="form-control" id="search" placeholder="Type Title/Artist/Album" autocomplete = "off">
        <button id="searchsub" type="submit"><%= image_tag "search-icon.svg", id: "searchsubmit" %>) </button>
     </label>
    </div>
  </div>
</form>
